# developer.env
# Copy developer.env.template to developer.env
# Place credentials and other site specific variables in developer.env
# It is in the .gitignore file, so it won't accidently get committed

# Note that these values should NOT be quoted

# AWS Credentials
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=

# Git https checkout credentials.  Use your personal github creds
# It is reccomended to generate a github oauth token for this purpose
GIT_HTTPS_USER=
GIT_HTTPS_PW=
GIT_HOST=github.com

# Docker registry credentials.  Use your personal quay.io creds.
# It is reccomended to generate an encrypted quay login token for this purpose
REGISTRY_USER=
REGISTRY_PW=
REGISTRY_HOST=quay.io
