# developer.env
# Copy developer.env.template to developer.env
# Place credentials and other site specific variables in developer.env
# It is in the .gitignore file, so it won't accidently get committed

# Note that these values should NOT be quoted

# AWS Credentials for building AMIS.  Requires sufficient IAM permissions for
# packer to do its job
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#AMI building only works in us-west-1 at the moment
AWS_DEFAULT_REGION=us-west-1

# Git https checkout credentials.  Use your personal github creds
# It is reccomended to generate a github oauth token for this purpose
GIT_HTTPS_USER=
GIT_HTTPS_PW=
GIT_HOST=github.com

# Docker registry credentials.  Use your personal quay.io creds.
# It is reccomended to generate an encrypted quay login token for this purpose
REGISTRY_USER=
REGISTRY_PW=
REGISTRY_HOST=quay.io
